################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Color_code/v16/Server/sqlite3/db.lock
